{% extends "layout.html" %}
{% load static %}
{% comment %}
{% block title %}
tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Django Project</h1>

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create a tweet</a>
<div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img class="" src="{{ tweet.photo.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{tweet.user.username}}</h5>
            <p class="card-text">{{tweet.text}}</p>
            {% if tweet.user == user %}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %} {% endcomment %}

{% block title %}
tweet
{% endblock %}

{% block content %}
{% if query %}
    <p class="text-muted">Showing results for "<strong>{{ query }}</strong>"</p>
{% endif %}

<a class="btn btn-primary mb-4 mx-3" href="{% url 'tweet_create' %}">Create a tweet</a>

<div class="container">
    <div class="row g-3">
        {% for tweet in tweets %}
        <div class="col-md-4">
            <div class="card h-100">
                {% if tweet.photo and tweet.photo.name %}
                    <img class="card-img-top" src="{{ tweet.photo.url }}" alt="Tweet photo">
                {% else %}
                    <img class="card-img-top" src="{% static 'default.jpg' %}" alt="No image available">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ tweet.user.username }}</h5>
                    <p class="card-text">{{ tweet.text }}</p>
                    {% if tweet.user == user %}
                        <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>No tweets found.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
